<div class="container">
  <h1>Tutors:</h1>
  <div class="row">
    <% @tutors.each do |tutor| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category"><%= tutor.name %></div>
          <div class="card-description">
            <% subject_id = UserSubject.find_by(user_id: tutor.id).subject_id %>
            <% subject = Subject.find(subject_id) %>
            <h4><%= subject.name%></h4>
            <p><%= tutor.location %></p>
            <p><%= tutor.email %></p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">

          <%= link_to "More info", user_path(tutor), class: "btn btn-primary card-link" %>

        </div>
      </div>
    <% end %>
  </div>




</div>
<div id="map"></div>

</div>
