
<div class="container user-index-container">
  <div class="card-container">

    <h2>Tutors:</h2>
    <div class="row">
      <% @tutors.each do |tutor| %>
        <div class="col-xs-12 ">
          <div class="card-index">

            <div class="left-card">
              <%= image_tag "felt.png", class: "felt-index" %>
              <% if tutor.image.nil? %>
                <%= cl_image_tag(tutor.photo, height: 80, width: 80, crop: :fill, class: "avatar-lrg avatar-pos-index") %>
              <% else%>
                <%= cl_image_tag(tutor.image, height: 80, width: 80, crop: :fill, class: "avatar-lrg avatar-pos-index") %>
              <% end %>

              <div class="card-name">
                <h4> <%= tutor.name%> </h4>
                <p><%= tutor.location %></p>
              </div>
            </div>

            <div class="right-card">
              <div class="card-info">
                <% subject_id = UserSubject.find_by(user_id: tutor.id).subject_id %>
                <% subject = Subject.find(subject_id) %>
                <h3><%= subject.name%></h3>
                <p><%= tutor.description %></p>
              </div>
              <%= link_to "More info", user_path(tutor), class: "button-sm card-btn" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="map-container">
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.1.3/build/ol.js"></script>
    <div id="map" data-tutors="<%= @tutors.to_json %>" data-query="<%= @query_location.to_json %>" data-logo = "<%= asset_path('logo.png') %>" data-pin = "<%= asset_path('map-pin.png') %>"
    ></div>
    <%= javascript_pack_tag "openmap" %>
  </div>
</div>
