<div class="container">
  <div class="card-container">

    <h2>Tutors:</h2>
    <div class="row">
      <% @tutors.each do |tutor| %>
        <div class="col-xs-12 ">
          <div class="card-index">

            <div class="left-card">
              <%= image_tag "felt.png", class: "felt" %>
              <%= cl_image_tag(tutor.photo, height: 80, width: 80, crop: :fill, class: "avatar-lrg avatar-pos-index") %>
              <p class= "card-name" > <%= tutor.name%> </p>
            </div>

            <div class="right-card">
              <div class="card-info">
                <% subject_id = UserSubject.find_by(user_id: tutor.id).subject_id %>
                <% subject = Subject.find(subject_id) %>
                <h3><%= subject.name%></h3>
                <p ><%= tutor.location %></p>
                <%= link_to "More info", user_path(tutor), class: "button-sm card-btn" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="map-container">

      <p>MAP</p>

  </div>

</div>
