<div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 50%), url('https://images.unsplash.com/photo-1527153818091-1a9638521e2a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5fce4ce8856a711cc50a14e03e58783a&auto=format&fit=crop&w=1158&q=80');">
  <div class="banner-content">
    <h1>Tutors 4 u</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <%= form_tag users_path, method: :get do %>
      <div class="formy">
        <div class="inputs">

          <%= collection_select(:subject, :subject_id, Subject.all, :id, :name, { include_blank: "Choose a subject..." }, { class: "input collection-input" })%>

          <%= text_field_tag :location,
            params[:location],
            class: "input",
            placeholder: "Choose a location...",
            input_html: { id: "address" } %>
        </div>
        <div class="sumbitter">
          <%= submit_tag "Submit", class: "button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h3 id="home-page-header">Find your tutor today... it's simple!</h3>

<div class="home-page-container">
  <div class="text-row-content">
    <div class="home-page-text">
      <h4>It all begins with that initial search.</h4>
      <p>Enter your subject and postcode, to view profiles of suitable tutors in your area.</p>
    </div>
    <%= image_tag "people-circle.png" %>
  </div>
  <br>
  <br>
  <div class="text-row-content">
    <%= image_tag "people-cards.png" %>
    <div class="home-page-text">
      <h4>Once you’ve found your tutor, simply request a lesson.</h4>
      <p>Once you have agreed a time and location with your tutor, they will book in your lesson for you. You'll be asked to confirm your booking but won't pay a penny until after each session.</p>
    </div>
  </div>
  <div class="text-row-content">
    <div class="home-page-text">
      <h4>Meet your new tutor and start learning!</h4>
      <p>Your tutor will provide all of the resources needed and aim to deliver enjoyable, informative sessions. Payment is cashless and convenient, so you can focus on learning.</p>
    </div>
    <%= image_tag "meet-tutor.png" %>
  </div>
</div>

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV6xp4RMjrJEp-OvESBj2mY0-qB0P3kl0&libraries=places&callback=initMap"
        async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd3V-62uvhlhcDtJ4NQNjZe21t_-_sapE&libraries=places&callback=initMap"
        async defer></script> -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV6xp4RMjrJEp-OvESBj2mY0-qB0P3kl0&libraries=places"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd3V-62uvhlhcDtJ4NQNjZe21t_-_sapE&libraries=places"></script> -->
