<%= simple_form_for(current_user) do |f| %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
<% end %>

<%= link_to "Add a subject", new_user_user_subject_path(current_user) %>
<% @user.user_subjects.each do |us| %>
  <li><%= Subject.find(us[:subject_id]).name %></li>
<% end %>



